h1 What the h*ck is RUDE?

p RUDE is a weekly night of wild comedy shows, featuring you!!!

p Founded & curated by Ian Lockwood, RUDE was created as a home for experimental, absurd, and/or off-kilter improv, sketch, stand-up, characters, variety, and theatre.

p Each night opens with an all-play improv jam and our bi-weekly sketch or stand-up show, and moves into 2 booked shows, many of which have a couple of slots set aside for guest performers to jump in. Slots can be improv, sketch acting, stand-up or characters.

h1.m-t-1 Press
.press-links
  = link_to "Brooklyn Paper", "http://www.brooklynpaper.com/stories/40/15/24-rude-comedy-williamsburg-2017-04-14-bk.html", target: "_blank"
  = link_to "Broadway World", "http://www.broadwayworld.com/brooklyn/article/Tuesdays-Get-RUDE-at-Williamsburgs-South-4th-BAR-20170331", target: "_blank"

h1.m-t-1 Location
p RUDE takes over South 4th Bar in Williamsburg, Brooklyn every Tuesday!

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9392.73742701853!2d-73.97282381519669!3d40.713955797837535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25bdf5b3ee3fd%3A0x8479ee6deff17afe!2sSouth+4th+Bar+%26+Cafe!5e0!3m2!1sen!2sus!4v1493134551864" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
