html {
  font-size: 100%;
  text-align: center;
  color: $blk;
}

body {
  background-color: $wht;
  font-family: 'courier';
  color: $blk;
  font-size: 12px;

  @media (min-width: $screen-md-min) {
    font-size: 14px;
  }
}

.main {
  padding: 1em 1em;

  @media (min-width: $screen-md-min) {
    padding: 2em 2em;
  }

  @media (min-width: $screen-lg-min) {
    padding: 2em 3em;
  }
}

a {
  color: $blu;
  font-style: italic;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
}

h2 {
  text-transform: uppercase;
  font-size: 2em;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

img {
  max-width: 100%;
}

nav {
  background: $blu;
  color: $grn;

  li.active {
    a {
      color: $blu;
      background: $grn !important;
    }
  }

  a {
    color: $grn;
    text-transform: uppercase;
    font-size: 1.75em;

    @media (max-width: $screen-xs-max) {
      margin: 0.5em 0;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 1em;
    }

    &:hover {
      color: $blu;
      background: $grn !important;
    }

    &:focus {
      color: $grn;
      background: $blu !important;
          padding: 15px 14px;
    }
  }

  .navbar-toggle {
    background-color: $grn;

    .icon-bar {
      background-color: $blu;
    }
  }
}

.text-link {
  color: $grn;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: $blu;
    text-decoration: underline;
  }

  a {
    color: $grn;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $blu;
      text-decoration: underline;
    }
  }
}

.col-xs-12 {
  padding-left: 10px;
  padding-right: 10px;
}
