.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.no-bull {
  list-style: none;
}

.wht {
  color: $wht;
}

.blu {
  color: $blu;
}

.wht {
  color: $wht;
}

.blk {
  color: $blk;
}

.desktop {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.mobile {
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

// margin and padding ----------------------------------------
.m-l-0 {
  margin-left: 0;
}

.m-r-0 {
  margin-right: 0;
}

.m-x-0 {
  margin-left: 0;
  margin-right: 0;
}

.m-t-0 {
  margin-top: 0;
}

.m-b-0 {
  margin-bottom: 0;
}

.m-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-a-0 {
  margin: 0;
}

.m-l-1 {
  margin-left: 1em;
}

.m-r-1 {
  margin-right: 1em;
}

.m-x-1 {
  margin-left: 1em;
  margin-right: 1em;
}

.m-t-1 {
  margin-top: 1em;
}

.m-b-1 {
  margin-bottom: 1em;
}

.m-y-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-a-1 {
  margin: 1em;
}

.m-l-2 {
  margin-left: 2em;
}

.m-r-2 {
  margin-right: 2em;
}

.m-x-2 {
  margin-left: 2em;
  margin-right: 2em;
}

.m-t-2 {
  margin-top: 2em;
}

.m-b-2 {
  margin-bottom: 2em;
}

.m-y-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.m-a-2 {
  margin: 2em;
}

.m-l-3 {
  margin-left: 3em;
}

.m-r-3 {
  margin-right: 3em;
}

.m-x-3 {
  margin-left: 3em;
  margin-right: 3em;
}

.m-t-3 {
  margin-top: 3em;
}

.m-b-3 {
  margin-bottom: 3em;
}

.m-y-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}

.m-a-3 {
  margin: 3em;
}

.m-l-4 {
  margin-left: 4em;
}

.m-r-4 {
  margin-right: 4em;
}

.m-x-4 {
  margin-left: 4em;
  margin-right: 4em;
}

.m-t-4 {
  margin-top: 4em;
}

.m-b-4 {
  margin-bottom: 4em;
}

.m-y-4 {
  margin-top: 4em;
  margin-bottom: 4em;
}

.m-a-4 {
  margin: 4em;
}

.m-l-5 {
  margin-left: 5em;
}

.m-r-5 {
  margin-right: 5em;
}

.m-x-5 {
  margin-left: 5em;
  margin-right: 5em;
}

.m-t-5 {
  margin-top: 5em;
}

.m-b-5 {
  margin-bottom: 5em;
}

.m-y-5 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.m-a-5 {
  margin: 5em;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-x-0 {
  padding-left: 0;
  padding-right: 0;
}

.p-t-0 {
  padding-top: 0;
}

.p-b-0 {
  padding-bottom: 0;
}

.p-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-a-0 {
  padding: 0;
}

.p-x-half {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.p-l-1 {
  padding-left: 1em;
}

.p-r-1 {
  padding-right: 1em;
}

.p-x-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.p-t-1 {
  padding-top: 1em;
}

.p-b-1 {
  padding-bottom: 1em;
}

.p-y-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.p-a-1 {
  padding: 1em;
}

.p-l-2 {
  padding-left: 2em;
}

.p-r-2 {
  padding-right: 2em;
}

.p-x-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.p-t-2 {
  padding-top: 2em;
}

.p-b-2 {
  padding-bottom: 2em;
}

.p-y-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.p-a-2 {
  padding: 2em;
}

.p-l-3 {
  padding-left: 3em;
}

.p-r-3 {
  padding-right: 3em;
}

.p-x-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.p-t-3 {
  padding-top: 3em;
}

.p-b-3 {
  padding-bottom: 3em;
}

.p-y-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.p-a-3 {
  padding: 3em;
}

.p-l-4 {
  padding-left: 4em;
}

.p-r-4 {
  padding-right: 4em;
}

.p-x-4 {
  padding-left: 4em;
  padding-right: 4em;
}

.p-t-4 {
  padding-top: 4em;
}

.p-b-4 {
  padding-bottom: 4em;
}

.p-y-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.p-a-4 {
  padding: 4em;
}

.p-l-5 {
  padding-left: 5em;
}

.p-r-5 {
  padding-right: 5em;
}

.p-x-5 {
  padding-left: 5em;
  padding-right: 5em;
}

.p-t-5 {
  padding-top: 5em;
}

.p-b-5 {
  padding-bottom: 5em;
}

.p-y-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}

.p-a-5 {
  padding: 5em;
}
